* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero {
    margin: 1px, 1px;
}

.navbar {
    margin: 0px auto;
    display: flex;
    align-items: center;
    background-color: #F2EEE3;
}

.navbar img{
    max-width: 30%;
    max-height: 30%;
}

ul {
    flex: 1;
    text-align: right;
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color: #C19356;
    padding: 0 10px;
    position: relative;
}

ul li a::after{
    content: '';
    width: 0;
    height: 10px;
    background: #C19356;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    transition: 0.5s;
}

ul li a:hover::after{
    width: 100%;
}

.navbar-icons i {
    height: 25px;
    margin-left: 40px;
    cursor: pointer;
}

.navbar-icons{
    margin-right: 20px;
    color: #BC9C84;
}

.banner{
    display: flex;
    margin: 80px;
}

.left-column,.right-column {
    flex-basis: 50%;
}

.right-column img {
    width: 100%;
}

.search-box{
    width: 45%;
    display: flex;
    padding-bottom: 3px;
    border-bottom: 1px solid #999;
    margin: 10px 0 30px;
}

.search-box i {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.search-box input{
    width: 100%;
    margin-left: 15px;
    font-size: 17px;
    border: 0;
    outline: none;
}

.left-column h1{
    font-size: 100px;
}

.left-column h3{
    font-size: 35px;
}

.sp1{
   color: #D0AD6D; 
}

.sp2{
    color: #DCC8AF;
}

.sp3{
    color: #AD7636;
}

.sp4{
    color: #CFAF6E;
}

.sp5{
    color: #CFAF6E;
}

.sp6{
    color: #AD7636;
}

.sp7{
    color: #DCC8AF;
}

.sp8{
    color: #AD7636;
}

.left-column p{
    font-size: 14px;
    color: #999;
    margin: 50px 0;
    font-weight: lighter;
    font-family: sans-serif;
}

.btn a{
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #BC9C84;
    border-radius: 20px;
    cursor: pointer;
    color: #C19356;
    background: transparent;
    text-decoration: none;
}

/*-----------------------------------*\
            About
\*-----------------------------------*/

.channel {
    display: block;
    margin: 80px;
}
.channel h1 {
    font-size: 50px;
    color: #D0AD6D;
    text-align: center;
    margin: 120px;
    margin: 12px;
}
.channel img {
    width: 30%;
    float: left;
    margin: 50px;
}

.channel h3{
    color: #999;
    text-align: justify;
    margin: 50px;
    margin-top: 120px;
}

/*-----------------------------------*\
               Video
\*-----------------------------------*/

.video{
    display: block;
    background-color: #DCC8AF;
    margin-top: 20%;
    padding: 50px;
    padding-bottom: 150px;
}

.video h1{
    text-align: center;
    color: #AD7636;
    padding: 20px;
    font-size: 50px;
}

.link{
    float: left;
    margin: 0 10px 1px 0;
    margin-right: 30px;
}

.video h3{
    color: #846A44;
    text-align: justify;
    font-size: 25px;
    margin: 5px 5px;
    font-weight: lighter;
}

/*-----------------------------------*\
               Analyze
\*-----------------------------------*/

.analyze{
    margin-top: 80px;
}
.analyze h1{
    text-align: center;
    color: #CFAF6E;
    padding: 20px;
    font-size: 50px;
}

.analyze li{
    color: #BC9C84;
    text-align: start;
    padding: 10px;
    font-size: 25px;
    margin: 20px;
}

.analyze h3{
    color: #846A44;
    padding: 20px;
    font-size: 50px;
    text-align: center;
}

.analyze li a{
    text-decoration: none;
    color: #BC9C84;
}

/*-----------------------------------*\
              Footer
\*-----------------------------------*/

#footer-div{
	width: 100%;
	min-height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #CFAF6E;
	color: #FFF;
}